.root {
  display: inline-block;
  padding: 5px;
  width: 180px;
  text-align: center;
  font-size: 16px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 2px solid #8a9da9;
  border-radius: 5px;
  padding: 5% 0 0 0;
  background: #2e2f45;
  overflow: hidden;
}

.frame:hover .dropInfo {
  opacity: 1;
}


.skinImagePrivate {
  height: 45%;
}

.skinImagePublic {
  height: 52%;
}

