.button {
  vertical-align: middle;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  touch-action: manipulation;
  cursor: pointer;
  width: 34%;
  height: 100%;
  flex: 1 1 34%;
  font-size: 10px;
  padding-top: 2px;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  background-color: transparent;
  letter-spacing: -0.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #79758b;
}

.button:hover {
  background-color: #4b4b6b;
  color: #fff;
}

.button.vgo {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.button.vgo:hover,
.button.vgo:active,
.button.vgo:focus {
   background-color: #27a6e5;
 }

.button.sell:hover,
.button.sell:active,
.button.sell:focus {
  background-color: #71ca18;
  border-right-color: #71ca18;
  color: #fff;
}

.button.upgrade:hover,
.button.upgrade:active,
.button.upgrade:focus {
  background-color: #9e6cff;
  border-right-color: #9e6cff;
  color: #fff;
}
