.dropIcon {
  position: absolute;
  right: 9px;
  top: 7px;
  z-index: 1;
  pointer-events: none;
}

.upgrade {
  fill: #C6AAFF;
  position: absolute;
  width: 12px;
  height: 14px;
}

.exchange {
  fill: #79758b;
  width: 15px;
  height: 16px;
}

.giveaway {
  fill: #00ffc3;
  width: 14px;
  height: 16px;
  right: 5px;
  top: 4px;
}

.promoCode {
  fill: #ffbe53;
  width: 10px;
  height: 16px;
}