.dropTitle {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: capitalize;
}

.skinImagePublic {
  height: 52%;
}